.catalog-category-details {
    padding-bottom: rem-calc(30);
    text-align: center;

    @media #{$large-up} {
        text-align: left;
    }

    h2 {
        font-weight: 800;
        text-transform: uppercase;
        a {
            &:hover, &:focus, &:active {
                color: $cinnabar-dark;
            }
        }
    }

    a {
        color: $deep-cerulean;

        &:hover, &:focus, &:active {
            color: $vapor;
        }
    }
}
