// .category-intro {
// 	h1, p {
// 		color: $white;
// 		margin: 0;
// 	}

// 	h1 {
// 		font-weight: 800;
// 		font-size: rem-calc(60);
// 		text-transform: uppercase;
// 		text-align: center;
// 		line-height: 1;

// 		@media #{$medium-up} {
// 			text-align: right;
// 		}
// 	}
// }


