.contact-page {
	.title-header {
		margin-top: rem-calc(48);
	}
}

.contact-info-block {

	h2 {
		margin-bottom: rem-calc(1.5 *16);
		color: $river-bed;
	}

	div {
		position: relative;
		padding-left: rem-calc(16 + 10 + 5);
		margin-bottom: rem-calc(6);

		.icon {
			color: $cascade;
			left: 0;
			position: absolute;
		}
	}
}
