$small-max-width: 640; // 0 640px
$medium-max-width: 1024; // 641px, 1024px
$large-max-width: 1200; // 1025px, 1440px
$small-height: 400;
$medium-height: 400;
$large-height: 400;
$image-height: 400;
$hero-height: 714;

// $ease: cubic-bezier(0.7, 0, 0.3, 1);
$duration: 0.35s;

.site-feature-wrapper {
    position: relative;
    width: 100%;
}

.site-feature-link {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0;
    opacity: 0;
    text-indent: 200%;
    white-space: nowrap;
    z-index: 1000;
}

.site-feature-button {
    transform: translate3d(0, rem-calc(32 + 65), 0) ;
    background: transparent;
    border: rem-calc(4) solid $vapor;
    color: $vapor;
    font-weight: 700;
    margin: 0;
    position: absolute;
    text-transform: uppercase;
    z-index: 1001;

    &:hover, &:focus, &:active {
        color: $vapor;
    }
}

.site-feature-title,
.site-feature-body {
    color: $vapor;
    margin: 0;
    position: relative;
    text-align: left;
}

.site-feature-title {
    // transform: translate3d(0, rem-calc(12), 0) ;
    font-weight: 600;
    overflow: hidden;
    padding: 0 0 rem-calc(12) 0;
    text-transform: uppercase;

    &:after {
        transform: translate3d(-100%, 0, 0) ;
        background: $vapor;
        bottom: 0;
        content: '';
        height: rem-calc(3);
        left: 0;
        position: absolute;
        width: 100%;
    }
}

.site-feature-body {
    // transform: translate3d(0, -1 * rem-calc(16), 0) ;
    opacity: 0;
    padding: rem-calc(12) 0;
}

.site-feature-bg {
    transform: scale3d(1.05, 1.05, 1) ;
    display: block;
    max-width: 100%;
    min-height: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.site-feature {
    // background: $deep-cerulean;
    background: $prussian-blue;
    cursor: pointer;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-align: left;
    // proportional scaling
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &.dark {
        .site-feature-title {
            color: $oil;
        }
    }

    &:hover,
    &:focus
    &:active {

        .site-feature-title,
        .site-feature-title:after,
        .site-feature-body,
        .site-feature-button {
            transform: translate3d(0, 0, 0) ;
            color: $vapor;
            opacity: 1;
        }

        .site-feature-bg {
            transform: scale3d(1, 1, 1) ;
            opacity: 0.45;
        }
    }

    figcaption {
        backface-visibility: hidden;
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.site-feature-title,
.site-feature-title:after,
.site-feature-body,
.site-feature-bg{
    transition: all $duration $ease-in-out-quart ;
}
.site-feature-button {
    transition: transform $duration $ease-in-out-back ;
}


// .touch {
//     .site-feature-title, .site-feature-button {
//         transform: translate3d(0, 0, 0) ;
//     }

//     .site-feature-title:after, .site-feature-body {
//         // display: none;
//     }
// }


@media #{$small-up} {
    .site-feature-title {
        transform: translate3d(0, 0, 0) ;
        font-size: rem-calc(21);
    }

    .site-feature-body {
        // font-size: rem-calc(13);
        display: none;
    }

    .site-feature-button {
        transform: translate3d(0, 0, 0) ;
        font-size: rem-calc(12);
        padding: rem-calc(10) rem-calc(20) rem-calc(11) rem-calc(20);
        bottom: rem-calc(16);
        right: rem-calc(16);
    }

    .site-feature figcaption {
        padding: rem-calc(16);
    }
}

 @media #{$medium-up} {

    .site-feature-title {
        transform: translate3d(0, rem-calc(12), 0) ;
        font-size: rem-calc(24);
    }

    .site-feature-body {
        font-size: rem-calc(16);
        display: block;
    }

    .site-feature-button {
        transform: translate3d(0, rem-calc(32 + 65), 0) ;
        font-size: rem-calc(14);
        padding: rem-calc(14) rem-calc(28) rem-calc(15) rem-calc(28);
        right: rem-calc(24);
        bottom: rem-calc(24);
    }

   .site-feature figcaption {
        padding: rem-calc(24);
    }
}

@media #{$large-up} {

    .site-feature-title {
        font-size: rem-calc(30);
    }

    .site-feature-body {
        font-size: rem-calc(18);
    }

    .site-feature-button {
        font-size: rem-calc(16);
        padding: rem-calc(16) rem-calc(32) rem-calc(17) rem-calc(32);
        bottom: rem-calc(32);
        right: rem-calc(32);
    }

   .site-feature figcaption {
        padding: rem-calc(32);
    }
}

//proportional scaling

.home-page .hero .site-feature-wrapper {
    .site-feature {
        max-height: rem-calc($hero-height);
    }

    @media #{$small-up} {
        padding-top: percentage($hero-height/((12/12) * $small-max-width));
    }

    @media #{$medium-up} {
        padding-top: percentage($hero-height/((12/12) * $medium-max-width));
    }

    @media #{$large-up} {
        padding-top: percentage($hero-height/((12/12) * 1920));
    }
}

.homepage-content {
    position: relative;

    .site-feature {
        max-height: rem-calc($image-height);
    }

    @media #{$small-up} {

        .small-12 {
            .site-feature-wrapper {
                // padding-top: percentage($small-height/600);
                padding-top: percentage($small-height/((12/12) * $small-max-width));
            }
        }
    }

    @media #{$medium-up} {

        .medium-6 {
            .site-feature-wrapper {
                padding-top: percentage($medium-height/((6/12) * $medium-max-width));
            }
        }

        .medium-12 {
            .site-feature-wrapper {
                padding-top: percentage($medium-height/((12/12) * $medium-max-width));
                // padding-top: percentage($medium-height/1200);
            }
        }
    }

    @media #{$large-up} {

        .large-4 {
            .site-feature-wrapper {
                padding-top: percentage($large-height/((4/12) * $large-max-width));
            }
        }

        .large-6 {
            .site-feature-wrapper {
                padding-top: percentage($large-height/((6/12) * $large-max-width));
            }
        }

        .large-8 {
            .site-feature-wrapper {
                padding-top: percentage($large-height/((8/12) * $large-max-width));
            }
        }

        .large-12 {
            .site-feature-wrapper {
                padding-top: percentage($large-height/((12/12) * $large-max-width));
            }
        }
    }
}
