.product-title {
    font-weight: 700;
}

.product-section-heading {
    margin-bottom: rem-calc(1.2 * 16);
    color: $secondary-color;
}

.product-slider {
    padding: rem-calc(15) 0;
    .row {
        margin-bottom: rem-calc(15);
    }
}

.product-image-slider {
    width: 100%;
}

.product-image-slider-nav {
    padding: rem-calc(15) rem-calc(48);
}

.product-image-slide {
    padding: 0 rem-calc(10);
    text-align: center;
    cursor: pointer;
    outline: none;
    max-height: rem-calc(740);
    overflow: hidden;

    .slick-loading {
        background: $white-smoke url("/images/okuma/infinite_preloader.gif") center center no-repeat;
    }

    img {
        background-color: $silver;
    }
}

.slick-slide.slick-loading img {
    display: none;
}

.slider-control {
    transition: all 0.2s $ease-in-out-quart ;
    background: $river-bed;
    font-size: rem-calc(18);
    line-height: 1;
    outline: none;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 50%;
    z-index: 10;

    span {
        transition: all 0.2s $ease-in-out-quart ;
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
        background-color: $silver;
        height: 100%;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
    }

    @media #{$small-only} {
        background: transparent;
        color: $river-bed;
        height: rem-calc(36);
        margin-top: rem-calc(-18);
        width: rem-calc(36);

        &:hover, &:focus, &:active {
            color: $river-bed;
            background: transparent;
        }
    }

    @media #{$medium-up} {
        border-color: $river-bed;
        border-style: solid;
        border-top: none;
        border-width: 0 rem-calc(6);
        height: rem-calc(78);
        margin: rem-calc(-39) 0 0 0;
        width: rem-calc(38);

        span {
            display: block;
        }

        &:hover, &:focus, &:active {

            background-color: $okuma-yellow;
            border-color: $okuma-yellow;
            color: $okuma-yellow;
            font-size: rem-calc(14);
            width: rem-calc(132);

            span {
                opacity: 1;
            }
        }
    }


    i {
        position: relative;
        width: rem-calc(26);
        z-index: 2;
    }

    &.previous {
        left: 0;
        text-align: left;
    }

    &.next {
        right: 0;
        text-align: right;
    }
}

// .touch .slider-control {
//     display: none;
// }

.product-overview,
.product-variants {
    margin-bottom: rem-calc(48);
}

.product-variants-table {
    background-color: $white;
    border: none;
    font-size: rem-calc(15);
    width: 100%;

    thead {
        background: $pickled-bluewood;
        font-weight: 700;
        font-size: rem-calc(14);
        ;
    }

    th,
    td {
        background-color: transparent;
        line-height: 1;
        padding: rem-calc(6) rem-calc(8);
        // position: relative;
        text-align: center;
        vertical-align: middle;

        &:first-of-type {
            padding-left: rem-calc(16);
        }
        &:last-of-type {
            padding-right: rem-calc(16);
        }

        @media #{$small-only} {
            &:first-of-type {
                padding-left: rem-calc(8);
                background-color: $pickled-bluewood;
                color: $ghost;
                border-bottom: none;
            }
            &:last-of-type {
                padding-right: rem-calc(8);
            }
        }
    }

    th {
        font-style: italic;
        color: $white;
        height: rem-calc(2.4 * 16);
    }

    tbody tr {
        border-bottom: rem-calc(1.5) $monsoon solid;
        &:hover {
            background-color: $aqua-haze;
        }

        &:last-of-type {
            border-bottom: none;
        }
    }

    td {
        height: rem-calc(2 * 16);
        color: $river-bed
    }
}

.product-feature {
    margin-bottom: rem-calc(1.5 * 16);

    h1 {
        font-size: rem-calc(16 * 1.5);
        font-weight: 700;
    }
}