.search-page {
    .title-header {
        margin-top: rem-calc(48);
    }
}

.searchpage-content {
    .search-results {
        .results-header {
            font-weight: 700;
            margin-bottom: rem-calc(32);
            em {
                color: $cinnabar;
            }
        }
        .no-query {
            text-align: center;
            color: $cascade;
            span {
                display: block;
                font-size: rem-calc(22);
            }
        }
    }
    $line-height: 1.2;
    $font-size: 15;
    .search-result {
        a,
        .search-title,
        .search-type {
            transition: all 0.3s $ease-in-out-quart ;
        }
        a {
            border-bottom: rem-calc(2) solid $gainsboro;
            display: block;
            &:hover,
            &:focus,
            &:active {
                border-bottom: rem-calc(2) solid $okuma-yellow;
                .search-title {
                    color: $okuma-yellow;
                }
                .search-type {
                    color: $cinnabar-dark;
                }
            }
        }
        .search-title {
            color: $bahama-blue;
            font-weight: 700;
            margin-bottom: rem-calc(8);
            margin: 0;
        }
        .search-type {
            color: $cascade;
            font-size: rem-calc(14);
            font-style: italic;
            font-weight: 700;
            line-height: 1.2;
            margin: 0 0 rem-calc(7) 0;
            text-indent: rem-calc(16);
        }
        .search-snippet {
            color: $prussian-blue;
            font-size: rem-calc($font-size);
            margin: 0;
            line-height: $line-height;
            max-height: rem-calc($line-height * $font-size * 3);
            overflow: hidden;
            position: relative;
            &:before {
                content: ' ';
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: rem-calc($line-height * $font-size * 2);
                height: rem-calc($line-height * $font-size);
                @include linear-gradient(transparent 0, $white rem-calc($line-height * $font-size));
            }
        }
        @media #{$small-up} {
            a {
                padding: rem-calc(16) 0;
            }
            .search-title {
                font-size: rem-calc(18);
            }
            .search-snippet {
                display: none;
            }
        }
        @media #{$medium-up} {
            a {
                padding: rem-calc(16);
            }
            .search-title {
                font-size: rem-calc(24);
            }
            .search-snippet {
                display: block;
                &:before {
                    @include linear-gradient(transparent 0, $white rem-calc($line-height * $font-size));
                    content: ' ';
                    height: 100%;
                    height: rem-calc($line-height * $font-size);
                    left: 0;
                    position: absolute;
                    top: rem-calc($line-height * $font-size * 2);
                    width: 100%;
                }
            }
        }
    }
}
