.share-page {
    header {
        background: $okuma-blue;
        height: rem-calc(48);
        padding: rem-calc(11) 0 rem-calc(15) 0;
        h1 {
            line-height: rem-calc(22);
            font-size: rem-calc(22);
            color: $white;
            padding: 0;
            margin: 0;
        }
    }
    main {
        margin-top: rem-calc(16);
    }

    .share-response {
        // text-align: center;

        // &.success {
        // 	.symbol {
        //     	background: $success-color;
        // 	}
        // }

        // &.error {
        // 	.symbol {
        //     	background: $alert-color;
        // 	}
        // }

        // .symbol {
        //     display: inline-block;
        //     width: rem-calc(120);
        //     height: rem-calc(120);
        //     line-height: rem-calc(120);
        //     color: $white;
        //     border-radius: 50%;
        //     font-size: rem-calc(60);
        //     // margin: rem-calc(16);
        // }

        .message {
    		color: $cascade;
    		font-size: rem-calc(14);
        }
    }
}
