
.fancyselect-container {
	display: inline-block;
	vertical-align: middle;
	// padding: 0 rem-calc(16);
}

.fancyselect {
	display: inline-block;
}

.subscriptionpage-content .subscription-form
{
	background-color: $pickled-bluewood;
	color: $white;
	padding: rem-calc(16 * 1.5) rem-calc(16 * 2.5);
	border-radius: rem-calc(4);

	.subscription-email-input {
		margin: rem-calc(18) 0 0 0;
	}
}

#update-subscription-form {

	input, .button {
		border: none;
		box-shadow: none;
		margin-bottom: 0;
	}

	input {
		@include border-left-radius(rem-calc(3));
		padding: 0 rem-calc(16);

		@include placeholder {
			color: $cascade;
			font-style: italic;
		}
	}

	.button {
		@include border-right-radius(rem-calc(3));
		font-weight: 700;
		padding: 0;
	}
}
// .subscription-page {
// 	.title-header {
// 		margin-top: rem-calc(48);
// 	}
// }

// .subscriptionpage-content {
// }

// .status-select {

// }

// .status-select-control {
// 	font-size: rem-calc(16);
// 	display: inline-block;
// 	background: none;
// 	width: rem-calc(200);
// 	text-align: center;
// 	color: $cinnabar;

// 	.placeholder {
// 		font-style: italic;
// 		color: $cascade;
// 	}
// }

// .subscription-email-input {
// 	margin-top: 0;
// }