div.fancy-select {
	color: $cinnabar;
	font-size: rem-calc(16);
	font-weight: 700;
	position: relative;
	text-align : center;

	&.disabled {
		opacity: 0.5;
	}

	div.trigger {
		@include transition (all 240ms ease-out);
		// border-bottom: rem-calc(2) solid $cinnabar;
		border-radius:rem-calc(3);
		color: scale-color($cinnabar, $lightness: -20%);
		background: $white-smoke;
		cursor: pointer;
		margin: 0 rem-calc(4);
		overflow: hidden;
		padding: rem-calc(7);
		position: relative;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: rem-calc(180);

		&.open {
			background: scale-color($cinnabar, $lightness: -20%);
			box-shadow: none;
			color: $vapor;
		}

	}

	ul.options {
		background: transparent;
		box-shadow: 0 rem-calc(2) rem-calc(4) rgba(0, 0, 0, 0.4);
		left: 0;
		list-style: none;
		margin: 0 rem-calc(4);
		// max-height: rem-calc(200);
		min-width: rem-calc(180);
		opacity: 0;
		overflow: auto;
		position: absolute;
		top:rem-calc(42);//40px;
		visibility: hidden;
		z-index: 50;

		@include transition(opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out);

		&.open {
			@include transition(opacity 300ms ease-out, top 300ms ease-out);
			opacity: 1;
			top: rem-calc(44);
			visibility: visible;
		}
		

		li {
			background: white;
			// color: $cinnabar;
			cursor: pointer;
			padding: rem-calc(7);
			white-space: nowrap;

			@include transition(all 150ms ease-out);
			
			&.selected {
				background: scale-color($cinnabar, $lightness: 70%);
				color: $white;
			}

			&.hover {
				background: scale-color($cinnabar, $lightness: -20%);
				color: $white;

			}
		}
	}
}