#footer {
	background-color: $prussian-blue;
	color: $vapor;
	// height: rem-calc(48 + 280 + 48 + 18 + 18 + 18);
	// position: absolute;

	// @media #{$small-only} {
	// 	height: auto;
	// 	position:relative;
	// }

	.container {
		// padding-bottom: rem-calc(48);
		padding: rem-calc(48) 0;
	}
}

.site-footer-nav {
	text-transform: uppercase;

	h2 {
		border-bottom: rem-calc(4) solid $bahama-blue;
		color: $vapor;
		font-size: rem-calc(18);
		font-weight: 700;
		padding-bottom: rem-calc(8);
	}

	ul {
		list-style-position: outside;
		list-style-type: none;
		margin: 0;
		font-size: rem-calc(14);
	}

	a {
		color: $vapor;
	}
}

.site-footer-logo {
	background-image: url("/images/okuma/okuma-logo-bear.png");
	background-position-x: center;
	background-position-y: center;
	background-repeat: no-repeat;
	background-size: contain;
	min-height: rem-calc(200);
}

.newsletter-sign-up-box {
	background-color: $pickled-bluewood;
	margin-bottom: rem-calc(30);
	padding: rem-calc(30);
	border-radius: rem-calc(3);

	p {
		margin: 0;
	}
}

.subscribe-button {
	border-radius: rem-calc(3);
	display: block;
	font-weight: 700;
	margin: rem-calc(12) 0;
	padding: rem-calc(10) 0 rem-calc(11) 0;
}

.unsubscribe-link {
	text-align: right;
	font-size: rem-calc(13);
	// margin: 0;
	color: $nobel;

	a {
		color: $aqua-haze;
		font-style: italic;

		&:hover {
			color: $cinnabar;
		}
	}
}

.site-footer-social-bar {
	text-align: center;

	.social-link
	{
		color: $vapor;

		&:hover {
			background-color: $vapor;
			color: $primary-color;
			border-radius: 100%;
		}
	}
}

.site-footer-pedestal {
	padding: rem-calc(18) 0;
	border-top: rem-calc(1.5) solid $pickled-bluewood;

	.copyright-notice {
		font-size: rem-calc(12);
		color: $white-smoke;
		text-align: center;
	}
}

.sensational-angling-supplies {
	color: #ED1C24;
}
