html, body {
    min-height: 100%;
}

// https://github.com/philipwalton/solved-by-flexbox/blob/master/assets/css/components/site.css

#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
}

#masthead {
    flex: none;

    .title-header {
        margin-top: rem-calc(48);
        font-weight: 900;
    }
}

#main {
    flex: 1 0 auto;
    width: 100%;
    padding-top: rem-calc(60);
}

#footer {
    flex: none;
    margin-top: rem-calc(48);
    bottom: 0;
    width: 100%;
}