.ajax-progress-button {

	$size: rem-calc(55);

	outline: none;
	overflow: hidden;
	position: relative;
	transition: width 0.3s ease-in 0.4s, border-radius 0.2s ease-in 0.2s, background 0.2s ease-out 0s ;
	white-space: nowrap;

	* {
		pointer-events: none;
	}

	.btn-label {
		transition: all 0.2s ease-in 0.6s ;
		opacity: 1;
	}

	.icon {
		position: absolute;
		transform: scale3d(0, 0, 1) ;
		transition: transform 0.3s $ease-in-back 0s ;
  		width: 100%;

		&::before {
			transform: scale3d(1.6, 1.6, 1) ;
		}
	}

	&::before {
		border-radius: 50%;
		border: lighten($cinnabar, 15%) rem-calc(6) solid;
		content: '';
		display: block;
		height: $size;
		left: 0;
		position: absolute;
		top: 0;
		transform-origin: 50% 50%;
		transform: scale3d(0,0,1) ;
		transition: transform 0.3s ease-in 0s ;
		width: $size;
		z-index: 1;
	}

	&::after {
		background: $cinnabar-dark;
		border-radius: 50%;
		content: '';
		height: rem-calc(6);
		left: 0;
		margin-top: rem-calc(-3);
		opacity: 0;
		position: absolute;
		top: 50%;
		transform-origin: 0.5 * $size 50%;
		width: rem-calc(6);
		z-index: 2;
	}

	&.progress, &.success, &.error {

		background: transparent;
		border-radius: 50%;
		height: $size;
		pointer-events: none;
		transition: width 0.3s ease-in 0s, border-radius 0.2s ease-in 0.2s, background 0.2s ease-out 0.4s ;
		width: $size;

		.btn-label {
			transition: all 0.2s ease-in 0s ;
			opacity: 0;
		}
	}

	&.progress {
		&::before {
			transform: scale3d(1,1,1) ;
			transition: transform 0.3s ease-in 0.6s ;
		}

		&::after {
			animation: progress-spin 0.7s linear 0s infinite normal;
			opacity: 1;
			transition: opacity 0.2s ease-in 0.9s ;
		}
	}

	&.success, &.error {
		.icon {
			transform: scale3d(1, 1, 1) ;
			transition: transform 0.3s $ease-out-back 0.4s ;
		}
	}

	&.success {
		background: $success-color;
	}

	&.error {
		background: $alert-color;
	}
}

@keyframes progress-spin {
	0% {
		transform: rotate(0deg) ;
	}

	100% {
		transform: rotate(359deg) ;
	}
}