.bordered-input {
	background: $silver;
	border-radius: rem-calc(4) ;
	border: rem-calc(1) solid $white-smoke;
	margin: rem-calc(32) 0;
	padding: rem-calc(10);

	input, button {
		border: rem-calc(1.5) solid $gainsboro;
		font-size: rem-calc(16);
		margin-bottom: 0;
	}

	input {
		border-right: none;
		padding-left: rem-calc(16);
		padding-right: rem-calc(16);

		@include placeholder {
			color: $cascade;
			font-weight: 700;
		}
	}

	button {
		border-left: none;
	}
	
	.form-message {
		padding-top: rem-calc(6);
	}
}

.form-message {
	font-size: rem-calc(13);
}