@font-face {
  font-family: "fontello";
  src: url("/fonts/fontello.eot?74931886");
  src: url("/fonts/fontello.eot?74931886#iefix") format("embedded-opentype"),
       url("/fonts/fontello.woff?74931886") format("woff"),
       url("/fonts/fontello.ttf?74931886") format("truetype"),
       url("/fonts/fontello.svg?74931886#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontello";
    src: url("../font/fontello.svg?74931886#fontello") format("svg");
  }
}
*/

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-search:before { content: '\e800'; } /* '' */
.icon-uncheck-circle:before { content: '\e801'; } /* '' */
.icon-check-circle:before { content: '\e802'; } /* '' */
.icon-cancel-circle:before { content: '\e803'; } /* '' */
.icon-plus:before { content: '\e804'; } /* '' */
.icon-minus:before { content: '\e805'; } /* '' */
.icon-left-circle:before { content: '\e806'; } /* '' */
.icon-right-circle:before { content: '\e807'; } /* '' */
.icon-left:before { content: '\e808'; } /* '' */
.icon-right:before { content: '\e809'; } /* '' */
.icon-email:before { content: '\e80a'; } /* '' */
.icon-dot:before { content: '\e80b'; } /* '' */
.icon-phone:before { content: '\e80c'; } /* '' */
.icon-quote-right:before { content: '\e80d'; } /* '' */
.icon-quote-left:before { content: '\e80e'; } /* '' */
.icon-location:before { content: '\e80f'; } /* '' */
.icon-attention-circle:before { content: '\e811'; } /* '' */
.icon-tick:before { content: '\e812'; } /* '' */
.icon-cross:before { content: '\e813'; } /* '' */
.icon-cog:before { content: '\e814'; } /* '' */
.icon-spin:before { content: '\e815'; } /* '' */
.icon-lightbulb:before { content: '\e816'; } /* '' */
// .icon-okuma:before { content: '\e817'; } /* '' */
// .icon-okuma-bear:before { content: '\e818'; } /* '' */
.icon-whatsapp:before { content: '\e819'; } /* '' */
.icon-facebook:before { content: '\e81a'; } /* '' */
.icon-twitter:before { content: '\e81b'; } /* '' */

.icon-okuma:before {
  content: "\e817";
  width:auto;
} /* "" */
.icon-okuma-bear:before {
  content: "\e818";
  width:auto;
} /* "" */

.animation-spin {
  animation: spin 1.0s infinite linear;
  display: inline-block;
}

@keyframes spin {
  from {
    transform: rotate(0deg) ;
  }
  to {
    transform: rotate(359deg) ;
  }
}