.form-input.underlined {
    display: block;
    height: rem-calc(16 + 14 + 18 + 14);
    margin: rem-calc(16) 0;
    overflow: hidden;
    position: relative;
    vertical-align: top;
    width: 100%;
    z-index: 1;

    &.text-area {
        height: auto;
        .input-field {
            height: auto;
        }
    }

    .input-field {
        -webkit-appearance: none;
        background: transparent;
        border-radius: 0;
        border: none;
        box-shadow: none;
        color: $pickled-bluewood;
        display: block;
        font-size: rem-calc(18);
        font-weight: 400;
        height: rem-calc(16 + 14 + 18 + 14);
        line-height: rem-calc(18);
        margin: 0;
        padding: rem-calc(16 + 14) rem-calc(4) rem-calc(14) rem-calc(4);
        position: relative;

        &:focus,
        &:active,
        &.isFilled {
            outline: none;
            background: transparent;
            & + .input-label {
                .input-label-value {
                    // transform: translate3d(0, rem-calc(-1* (16 + 14)), 0) ;
                    color: $nobel;
                }
                &:after {
                    transform: translate3d(0, 0, 0) ;
                }
            }
        }
    }

    .input-label {
        -khtml-user-select: none;
        -webkit-touch-callout: none;
        @include user-select(none);
        bottom: 0;
        display: inline-block;
        height: 100%;
        left: 0;
        padding: 0 rem-calc(4);
        pointer-events: none;
        position: absolute;
        width: 100%;

        &:before,
        &:after {
            background: $cinnabar;
            bottom: 0;
            content: '';
            height: rem-calc(3);
            left: 0;
            position: absolute;
            width: 100%;
            z-index: 1;
        }

        &:after {
            transform: translate3d(-100%, 0, 0);
            transition: transform 0.3s cubic-bezier(0.7, 0, 0.3, 1);
        }

        &:before {
            background: $cascade;
            bottom: rem-calc(1);
            height: rem-calc(1);
            z-index: 0;
        }
    }

    .input-label-value {
        transition: transform 0.2s cubic-bezier(0.7, 0, 0.3, 1), color 0.3s ;
        // transition: all 0.2s cubic-bezier(0.7, 0, 0.3, 1), color 0.3s ;
        color: $river-bed;
        top: rem-calc(-1* (16 + 14));
        font-size: rem-calc(16);
        font-weight: 700;
        padding-top: rem-calc(16 + 14);
        position: absolute;
        width: 100%;
    }

    .feedback-message {
        color: $cinnabar;
        font-size: rem-calc(14);
        font-weight: 400;
        vertical-align: text-top;
    }

    textarea {
        height: auto;
        overflow: auto;
        resize: none;
    }

    &.animated {
        .input-label {
            .input-label-value {
                top: 0;
            }
        }

        .input-field {
            &:focus,
            &:active,
            &.isFilled {
                & + .input-label {
                    .input-label-value {
                        transform: translate3d(0, rem-calc(-1* (16 + 14)), 0) ;
                    }
                }
            }
        }
    }
}
