.large-icon {
    border-radius: 50%;
    color: $white;
    display: inline-block;
    text-align: center;
    vertical-align: middle;

    font-size: rem-calc(60);
    height: rem-calc(120);
    line-height: rem-calc(120);
    width: rem-calc(120);

    $iconSize: 30;
    &.size-#{$iconSize} {
        font-size: rem-calc(0.5 * $iconSize);
        height: rem-calc($iconSize);
        line-height: rem-calc($iconSize);
        width: rem-calc($iconSize);
    }

    $iconSize: 45;
    &.size-#{$iconSize} {
        font-size: rem-calc(0.5 * $iconSize);
        height: rem-calc($iconSize);
        line-height: rem-calc($iconSize);
        width: rem-calc($iconSize);
    }

    $iconSize: 60;
    &.size-#{$iconSize} {
        font-size: rem-calc(0.5 * $iconSize);
        height: rem-calc($iconSize);
        line-height: rem-calc($iconSize);
        width: rem-calc($iconSize);
    }

    &.size-30 {
        font-size: rem-calc(15);
        height: rem-calc(30);
        line-height: rem-calc(30);
        width: rem-calc(30);
    }

    &.size-60 {
        font-size: rem-calc(30);
        height: rem-calc(60);
        line-height: rem-calc(60);
        width: rem-calc(60);
    }


    &.bg-success {
        background: $success-color;
    }

    &.bg-error {
        background: $alert-color;
    }
}
