.page-header-strip {
    background-color: $primary-color;
    padding: rem-calc(30) 0;

    h1, p {
        color: $white;
        margin: 0;
    }

    h1 {

        font-size: rem-calc(32);

        font-weight: 800;
        text-transform: uppercase;
        text-align: center;
        line-height: 1;

        @media #{$medium-up} {
            font-size: rem-calc(52);
        }

        @media #{$large-up} {
            font-size: rem-calc(60);
        }
    }

    p {
        font-size: rem-calc(18);
    }
}

.title-header {
    margin-top: rem-calc(48);
    font-weight: 900;
}

.hero-image {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: rem-calc(5px) solid $white;
    height: rem-calc(260);
    width: 100%;

    @media #{$medium-up} {
        height: rem-calc(460);
    }

    @media #{$large-up} {
        height: rem-calc(560);
    }

}