$shrink-height: rem-calc(60);
$full-height: rem-calc(200);

#masthead {
    padding-top: $full-height;

    &.has-hero-image {
        padding-top: 0;
    }

    @media #{$small-only} {
        padding-top: $shrink-height;
    }
}

#menubar {
    background: $ghost;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;

    .menubar-wrapper {
        display: block;
        height: $full-height;
        line-height: $full-height;
        max-width: $row-width;
        overflow: hidden;
        padding: 0 rem-calc(32);
        position: relative;
        z-index: 20;
    }

    .menubar-item {
        display: inline-block;
        line-height: $full-height;
    }

    .logo,
    .menubar-nav {
        display: inline-block;
        margin: 0;
        padding: 0;
        position: relative;
    }

    .logo {
        float: left;
        font-size: rem-calc(30);
        padding-right: rem-calc(20);
        text-align: center;

        a {
            color: $okuma-blue;

             &:hover, &:focus, &:active, &.active {
                color: $cinnabar;
            }
        }
    }

    .icon-okuma,
    .icon-okuma-bear {
        display: block;
        line-height: 0.5 * $full-height - rem-calc(1);

        &:before {
            margin: 0;
            padding: 0;
        }
    }

    .icon-okuma-bear {
        font-size: rem-calc(65);
        padding-bottom: rem-calc(1);
        opacity: 1;

        &:before {
            vertical-align: bottom;
        }
    }

    .icon-okuma {
        padding-top: rem-calc(1);
        transform: translate3d(0, 0, 0) ;

        &:before {
            vertical-align: top;
        }
    }

    .menubar-nav {
        float: right;
    }

    .nav-link {
        color: $okuma-blue;
        font-size: rem-calc(18);
        font-weight: 700;
        padding-right: rem-calc(20);
        text-transform: uppercase;
        position: relative;

        .bg-block {
            padding: rem-calc(2.5) rem-calc(1);

            &:after {
                transform: skewX(-11deg) scale3d(0.7, 0.7, 1) ;
            }
        }

        &:hover {

            .bg-block {
                color: $vapor;
                &:after {
                    transform: skewX(-11deg) scale3d(1, 1, 1) ;
                    opacity: 1;
                }
            }
        }
    }

    .search-link {
        color: $cinnabar-dark;
        font-size: rem-calc(20);

        &:hover, &:focus, &:active, &.active {
            color: $okuma-yellow;
        }
    }

    .menu-link {
        display: none;
    }

    /*-----------------------------------------------------------------------------*/
    // Common minimized
    /*-----------------------------------------------------------------------------*/

    &.menubar-shrink,
    &.menubar-search,
    &.menubar-small {
        background-color: $primary-color;

        .menubar-wrapper,
        .menubar-item {
            height: $shrink-height;
            line-height: $shrink-height;
        }

        .logo a,
        .menu-link,
        .nav-link .bg-block {
            color: $vapor;
        }

        .logo a {
            &:hover, &:focus, &:active, &.active {
                color: $okuma-yellow;
            }
        }

        .icon-okuma {
            transform: translate3d(0, rem-calc(-87), 0) ;
        }

        .icon-okuma-bear {
            opacity: 0;
        }

        .nav-link {
            font-size: rem-calc(14);
        }

        .search-link {
            color: $gainsboro;
            &:hover, &:focus, &:active, &.active {
                color: $okuma-yellow;
            }
        }
    }

    /*-----------------------------------------------------------------------------*/
    // Small
    /*-----------------------------------------------------------------------------*/
    @media #{$small-only} {

        background-color: $primary-color;

        .menubar-wrapper,
        .menubar-item {
            height: $shrink-height;
            line-height: $shrink-height;
        }

        .logo a,
        .menu-link
        {
            // ,
        // .nav-link .bg-block {
            color: $vapor;
        }

        .logo a:hover {
            color: $okuma-yellow;
        }

        .icon-okuma {
            transform: translate3d(0, rem-calc(-87), 0) ;
        }

        .icon-okuma-bear {
            opacity: 0;
        }

        // .nav-link {
        //     font-size: rem-calc(14);
        // }

        .search-link {
            color: $gainsboro;
            &:hover {
                color: $okuma-yellow;
            }
        }

        .row {
            padding: 0 rem-calc(18);
        }

        .logo {
            padding: 0 rem-calc(20);
            text-align: center;
            width: calc(100% - 7.5rem);
        }

        .menu-link {
            color: $vapor;
            display: inline-block;
            float: left;
            font-size: rem-calc(12);
            font-weight: 700;
            width: rem-calc(60);

            &:hover {
                span {
                    color: $okuma-yellow;
                    border-color: $okuma-yellow;
                }
            }

            span {
                border: solid rem-calc(5) $vapor;
                border-left-width: 0;
                border-right-width: 0;
                display: inline-block;
                line-height: 0;
                margin-top: rem-calc(12);
                padding: rem-calc(13) 0;
                text-align: center;
            }
        }

        .nav-link {
            display: none;
        }

        .search-link {
            text-align: center;
            width: rem-calc(60);
        }
    }

    &.menubar-small {
        .row {
            padding: 0 rem-calc(18);
        }

        .logo {
            padding: 0 rem-calc(20);
            text-align: center;
            width: calc(100% - 7.5rem);
        }

        .menu-link {
            color: $vapor;
            display: inline-block;
            float: left;
            font-size: rem-calc(12);
            font-weight: 700;
            width: rem-calc(60);

            &:hover, &:focus, &:active, &.active {
                span {
                    color: $okuma-yellow;
                    border-color: $okuma-yellow;
                }
            }
            span {
                border-left-width: 0;
                border-right-width: 0;
                border: solid rem-calc(5) $vapor;
                display: inline-block;
                line-height: 0;
                margin-top: rem-calc(12);
                padding: rem-calc(13) 0;
                text-align: center;
            }
        }

        .nav-link {
            display: none;
        }

        .search-link {
            text-align: center;
            width: rem-calc(60);
        }
    }

    /*-----------------------------------------------------------------------------*/
    // search
    /*-----------------------------------------------------------------------------*/

    &.menubar-search {

        .menubar-drawer {
            visibility: visible;
        }

        #menubar-searchform {
            top: rem-calc(-1);
            visibility: visible;
            opacity: 1;
        }
    }

    /*-----------------------------------------------------------------------------*/
    // Drawer
    /*-----------------------------------------------------------------------------*/

    .menubar-drawer {
        background-color: $smoke;
        font-size: rem-calc(14);
        overflow: hidden;
        position: absolute;
        top: $shrink-height;
        visibility: hidden;
        width: 100%;
        z-index: 10;

        .menubar-search-results {
            padding-bottom: rem-calc(14);
        }

        .search-result {
            border: none;
            height: rem-calc(4 + 60 + 4);
            margin-top: rem-calc(14);
            padding: rem-calc(4);
            position: relative;

            a {
                display: inline-block;
                width: 100%;
                height: 100%;
                outline: none;
                &:hover,
                &:focus,
                &.active {
                    background-color: $white;
                    outline: none;
                    .search-title {
                        color: $cinnabar;
                    }
                }
            }
        }

        .search-title,
        .search-type {
            display: block;
            overflow: hidden;
            padding-left: rem-calc(60 + 16);
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
        }

        .search-title {
            font-weight: 700;
            padding-top: rem-calc(4);
        }

        .search-type {
            color: $base;
            font-size: rem-calc(12);
            font-style: italic;
            font-weight: 400;
        }

        .search-thumbnail {
            height: rem-calc(60);
            position: absolute;
            width: rem-calc(60);
        }

        .search-spinner {
            background: url("/images/okuma/infinite_preloader.gif") center center no-repeat;
            background-size: rem-calc(50);
            height: rem-calc(4 + 60 + 4);
        }
    }
}


/*-----------------------------------------------------------------------------*/
// Search
/*-----------------------------------------------------------------------------*/

#menubar-searchform {
    background-color: $primary-color;
    height: $shrink-height;
    left: 0;
    line-height: $shrink-height;
    opacity: 0;
    padding: 0 rem-calc(16);
    position: absolute;
    top: -$shrink-height;
    visibility: hidden;
    width: 100%;
    z-index: 30;

    button,
    .close-search {
        background-color: $primary-color;
        display: inline-block;
        font-size: rem-calc(20);
        height: $shrink-height;
        margin: 0;
        padding: 0;
        width: rem-calc(60);
        z-index: 20;
    }

    .close-search {
        color: $vapor;
        cursor: pointer;
        float: left;
        text-align: center;
    }

    input[name="find"] {
        display: inline-block;
        float: left;
        font-size: rem-calc(20);
        background-color: $primary-color;
        border-left: solid rem-calc(4) $okuma-yellow;
        color: $okuma-yellow;
        height: 0.6 * $shrink-height;
        line-height: 0.6 * $shrink-height;
        margin: rem-calc(12) 0;
        padding: 0 rem-calc(20);
        width: calc(100% - 7.6rem);
        z-index: 10;

        @include placeholder {
            font-weight: 700;
            font-size: 16;
            color: $cascade;
        }
    }

    button {
        color: $okuma-yellow;
        float: right;
        outline: none;
    }
}


/*-----------------------------------------------------------------------------*/

// Animations

/*-----------------------------------------------------------------------------*/

$ease-function: cubic-bezier(0.7, 0, 0.3,1);

#menubar {
    // transition: padding-top 0.3s $ease-function ;
    transition: padding-top 0.3s $ease-function, background-color 0.3s $ease-function 0.2s;
    .menubar-wrapper,
    .menubar-item {
        transition: height 0.3s $ease-function 0s, line-height 0.3s $ease-function 0s;
    }

    .icon-okuma-bear {
        transition: opacity 0.2s $ease-function 0.4s;
    }

    .icon-okuma {
        transition: transform 0.3s $ease-function 0s;
    }

    .logo a,
    .nav-link,
    .search-link {
        transition: color 0.3s $ease-function 0.2s, font-size 0.3s $ease-function 0s;
        // transition: all 0.3s $ease-function 0s ;
    }

    // shrink
    &.menubar-shrink,
    &.menubar-search,
    &.menubar-small {
        transition: background-color 0.3s $ease-function 0.2s;

        .menubar-wrapper,
        .menubar-item {
            transition: height 0.3s $ease-function 0s, line-height 0.3s $ease-function 0s;
        }

        .icon-okuma-bear {
            transition: opacity 0.2s $ease-function 0s;
        }

        .icon-okuma {
            transition: transform 0.3s $ease-function 0s;
        }

        .logo a,
        .nav-link,
        .search-link {
            transition: color 0.3s $ease-function 0.2s, font-size 0.3s $ease-function 0s;
        }
    }

    &.menubar-search {
        &.menubar-shrink,
        &.menubar-small {
            #menubar-searchform,
            .menubar-drawer {
                transition: all 0.3s $ease-function 0.3s;
            }
        }

        #menubar-searchform,
        .menubar-drawer {
            transition: all 0.3s $ease-function 0.3s;
        }
    }

    #menubar-searchform,
    .menubar-drawer {
        transition: all 0.3s $ease-function 0s;
    }
}
