#product-categories-dropdown {
    backface-visibility: hidden;
    background-color: $smoke;
    display: none;
    opacity: 0;
    perspective-origin: 50% 0;
    position: absolute;
    transform-origin: center top;
    transform: scale3d(0.98, 0.98, 1) rotate3d(1, 0, 0, 45deg) ;
    transition: transform 0.3s $ease-in-out-quart, opacity 0.15s $ease-in-out-quart 0.15s ;
    width: 100%;
    z-index: 20;

    &.show {
        transform: scale3d(1, 1, 1) rotate3d(0, 0, 0, 0deg) ;
        transition: transform 0.3s $ease-in-out-quart, opacity 0.15s $ease-in-out-quart ;
        display: block;
        opacity: 1;
    }

    .product-categories {
        padding: rem-calc(16) rem-calc(32) rem-calc(22) rem-calc(32);
    }

    a {
        &:hover, &:focus, &:active, &.active {
            color: $white;
        }
    }

    h4 a {
        color: $prussian-blue;
        font-weight: 200;
    }

    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    li {
        list-style: none;
        padding: 0;
    }
}
