ul.pagination li a, ul.pagination li button {
    border-radius: rem-calc(2);
}

ul.pagination li:hover a, ul.pagination li a:focus, ul.pagination li:hover button, ul.pagination li button:focus {
    color: $white;
}