.product-thumb {
    display: block;
    margin-bottom: rem-calc(14);
    text-align: left;

    img {
        // background: $vapor;
        background: $white-smoke;
        background: $smoke;
        // margin-bottom: rem-calc(14);
        // height: rem-calc(185);
        // width: 320px;
        // height: 320px;
    }

    &:hover {

        .product-thumb-details {
            &:after {
                transform: translate3d(0, 0, 0) skewX(0) ;
            }
        }

        .product-thumb-title,
        .product-thumb-models {
            color: $white;
        }
    }
}

.product-thumb-details {
    // background: $smoke;
    height: rem-calc(2 * 12 + 1.4 * (16 + 12));
    overflow: hidden;
    padding: rem-calc(12) rem-calc(16);
    position: relative;

    &:after {
        // transform: scale3d(0,1,1) skewX(-60deg) ;
        transform: translate3d(-100%, 0, 0) skewX(-75deg) ;
        transform-origin: top left;
        transition: transform 0.3s $ease-in-out-expo ;
        background-color: $okuma-yellow;
        content: "";
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;
    }
}

.product-thumb-title,
.product-thumb-models {
    transition: color 0.3s $ease-in-out-quad ;
    position: relative;
    z-index: 10;
}

.product-thumb-title {
    color: $secondary-color;
    font-size: rem-calc(14);
    font-weight: 700;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.product-thumb-models {
    color: $cascade;
    font-size: rem-calc(12);
    text-transform: uppercase;
}
