$full-height: rem-calc(200);
$shrink-height: rem-calc(60);

#pushmenu {
    background-color: $deep-cerulean;
    height: 100%;
    left: 0;
    padding: $shrink-height 0;
    position: fixed;
    width: rem-calc(240);
    z-index: 9000;
    overflow-x: hidden;

    transition: transform, 0.3s, ease-in-out ;
    transform: translate3d(-100%, 0, 0) ;

    &.pushmenu-open {
        transform: translate3d(0, 0, 0) ;
    }

    .pushmenu-item {
        display: block;
        border-bottom: $bahama-blue rem-calc(1) solid;
        padding-top: rem-calc(18);
        padding-bottom: rem-calc(18);
    }

    .nav-link {
        display: block;
        font-weight: 700;
        font-size: rem-calc(14);
        padding-left: rem-calc(16);
        padding-right: rem-calc(16);
        color: $vapor;
        text-transform: uppercase;

        &:hover {
            background-color: $bahama-blue;
        }
    }

    .nav-link-list {
        padding: 0;

        .nav-link {
            font-weight: 400;
            padding: rem-calc(10) rem-calc(16) rem-calc(10) rem-calc(24);
        }
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            display: block;
        }
    }
}
