.share-bar {

    display: none;

    .bar-title {
        font-size: rem-calc(16);
        color: $nobel;
        display: inline-block;
        font-style: italic;
        font-weight: 700;
        line-height: rem-calc(24);
        padding: rem-calc(5) rem-calc(16) rem-calc(6) rem-calc(6);
        vertical-align: top;
    }

    .share-button {
        color: $white;
        display: inline-block;
        line-height: rem-calc(24);
        padding: rem-calc(5) rem-calc(16) rem-calc(6) rem-calc(6 +24 + 6);
        overflow: hidden;
        position: relative;

        &.email {
            background-color: $okuma-yellow;
        }

        &.facebook {
            background-color: #306199;
        }

        &.whatsapp {
            background-color: #5cbe4a;
            display: none;
        }

        @media #{$small-only} {
            padding: rem-calc(5 + 24) rem-calc(6 + 24) rem-calc(6) rem-calc(6);
            .title,
            .action {
                display: none;
            }
        }

        &:hover,
        &:focus,
        &:active {

            .title {
                transform: translate3d(0, 200%, 0);
                opacity: 0;
            }

            .action {
                transform: translate3d(0, 0, 0);
                opacity: 1;
            }
        }
    }

    .icon {
        display: block;
        font-size: rem-calc(24);
        height: rem-calc(24);
        left: 0;
        top: 0;
        margin: rem-calc(5) rem-calc(6) rem-calc(6) rem-calc(6);
        position: absolute;
        width: rem-calc(24);
        &:before {
            margin: 0;
            padding: 0;
        }
    }

    .title,
    .action {
        transition: opacity 0.2s, transform 0.2s $ease-in-out-quad;
        font-size: rem-calc(14);
        font-weight: 700;
    }

    .title {
        transform: translate3d(0, 0, 0);
        display: inline-block;
        opacity: 1;
    }

    .action {
        transform: translate3d(0, -200%, 0);
        display: block;
        opacity: 0;
        padding-top: rem-calc(1);
        position: absolute;
    }
}
