.sidebar-menu {
	margin-bottom: rem-calc(48);

	.group-header {
		&:hover, &.active {
			&, .group-title, .active-category
			{
				color: $white;
			}
		}
	}

	.accordion {
		margin-left: 0;

		.content > .sidebar-links {
			margin-left: 0;
		}
	}
	.icon_accordian {
		float: right;
	}

	.accordion-navigation.active {
		.icon_accordian {
			&::before {
				content:"\e805";
			}
		}
	}

	.group-title {
		font-weight: 700;
		text-transform: uppercase;
		color: $secondary-color;
	}

	.active-category {
		color: $cinnabar;
		color: $deep-cerulean;
	}
}


.sidebar-links {

	list-style-position: outside;
	list-style-type: none;
	overflow: hidden;
	padding: 0;
	width: 100%;

	li {
		width: 100%;
		font-size: rem-calc(14);
	}


	label {
		color: $deep-cerulean;

		&:hover{
			color: $cinnabar-dark;
		}
	}

	input[type="checkbox"] {
		display: none;

		&:checked ~ .icon_checkbox::before {
			// & {
				content: "\e802";
			// }
		}

		// ~ .icon_checkbox {
		// 	&::before {
		// 		content: "\e801";
		// 	}
		// }
	}

	.icon_checkbox::before {
		margin: 0;
	}

	a {
		width: 100%;
		display: inline-block;

		&:hover{
			color: $cinnabar-dark;
			// &::before {
			// 	content: "\e802";
			// }
		}
	}

	.product-count {
		background-color: $smoke;
		border-radius: rem-calc(3);
		color: $monsoon;
		display: inline-block;
		font-size: rem-calc(10);
		font-weight: 700;
		height: 100%;
		line-height: rem-calc(1.2 * 14);
		margin: rem-calc(0.1 * 14) 0;
		padding: 0 rem-calc(5);
		text-align: center;
		vertical-align: middle;
	}
}

.sidebar-category-links {
	li a {
		padding: 0 0 0 rem-calc(8);
		position: relative;

		&:hover {
			font-weight: 700;

			&::before {
				background-color: scale-color($cinnabar, $lightness: -20%);
				content: " ";
				display: inline-block;
				height: 75%;
				left: 0;
				position: absolute;
				top: 15%;
				width: rem-calc(4);
			}
		}
	}
}

.sidebar-category-nav {
	.accordion {
		margin-bottom: rem-calc(8);

		&:last-of-type {
			margin-bottom: 0;
		}
	}

}

.sidebar-menu-header, .sidebar-menu-filter-header
{
	padding: rem-calc(14) 0;
	text-align: center;
	vertical-align: middle;

	.product-count {
		> span {
			color: $primary-color;
			font-size: rem-calc(38);
			font-weight: 700;
			padding: 0 rem-calc(4);
			vertical-align: middle;
		}
	}
}

.sidebar-menu-filter-header {
	color: $charcoal ;
}

.box-border {
	border: rem-calc(5) solid $white-smoke;
}