@charset "UTF-8";
// Default Variables
$slick-font-path: "./fonts/" !default;
$slick-font-family: "fontello" !default;
$slick-loader-path: "./" !default;
$slick-arrow-color: $secondary-color !default;
$slick-dot-color: $swamp !default;
$slick-dot-color-active: $cinnabar !default;
$slick-prev-character: "\e806" !default;
$slick-next-character: "\e807" !default;
$slick-dot-character: "\e80B" !default;
$slick-dot-size: rem-calc(12) !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

@function slick-image-url($url) {
    @if function-exists(image-url) {
        @return image-url($url);
    }
    @else {
        @return url($slick-loader-path + $url);
    }
}

@function slick-font-url($url) {
    @if function-exists(font-url) {
        @return font-url($url);
    }
    @else {
        @return url($slick-font-path + $url);
    }
}


/* Slider */

.slick-list {
    .slick-loading & {
        // background: #fff slick-image-url("app/img/infinite-preloader.gif") center center no-repeat;
        // background-image: $white-smoke url("../../images/okuma/infinite_preloader.gif") center no-repeat;
        background-image: url("/images/okuma/infinite_preloader.gif");
        background-repeat: no-repeat;
        background-position: center;
    }
}

.slick-slide,
.slick-loading {
    background-image: url("/images/okuma/infinite_preloader.gif");
    background-repeat: no-repeat;
    background-position: center;
}


/* Icons */

// @if $slick-font-family == "slick" {
//     @font-face {
//         font-family: "slick";
//         src: slick-font-url("slick.eot");
//         src: slick-font-url("slick.eot?#iefix") format("embedded-opentype"), slick-font-url("slick.woff") format("woff"), slick-font-url("slick.ttf") format("truetype"), slick-font-url("slick.svg#slick") format("svg");
//         font-weight: normal;
//         font-style: normal;
//     }
// }

/* Arrows */

.slick-prev,
.slick-next {
    background: transparent;
    border: none;
    color: transparent;
    cursor: pointer;
    display: block;
    font-size: 0px;
    height: rem-calc(26);
    line-height: 0px;
    margin-top: -1 * rem-calc(13);
    outline: none;
    padding: 0;
    position: absolute;
    top: 50%;
    width: rem-calc(26);
    &:hover,
    &:focus {
        outline: none;
        background: transparent;
        color: transparent;
    }
    &:hover:before {
        color: $cinnabar;
        opacity: $slick-opacity-on-hover;
    }
    &.slick-disabled:before {
        color: $monsoon;
        opacity: $slick-opacity-not-active;
    }
}

.slick-prev:before,
.slick-next:before {
    font-family: $slick-font-family;
    font-size: rem-calc(24);
    line-height: 1;
    color: $slick-arrow-color;
    opacity: $slick-opacity-default;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    // left: -1 * rem-calc(26);
    left: 0;
    [dir="rtl"] & {
        left: auto;
        right: -1 * rem-calc(26);
    }
    &:before {
        content: $slick-prev-character;
        [dir="rtl"] & {
            content: $slick-next-character;
        }
    }
}

.slick-next {
    // right: -1 *  rem-calc(26);
    right: 0;
    [dir="rtl"] & {
        left: -1 * rem-calc(26);
        right: auto;
    }
    &:before {
        content: $slick-next-character;
        [dir="rtl"] & {
            content: $slick-prev-character;
        }
    }
}


/* Dots */

.slick-slider {
    margin-bottom: rem-calc(30);
}

.slick-dots {
    bottom: rem-calc(-45);
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    li {
        cursor: pointer;
        display: inline-block;
        height: rem-calc(20);
        margin: 0 rem-calc(5);
        padding: 0;
        position: relative;
        width: rem-calc(20);
        button {
            background: transparent;
            border: 0;
            color: transparent;
            cursor: pointer;
            display: block;
            font-size: 0px;
            height: rem-calc(20);
            line-height: 0px;
            outline: none;
            padding: rem-calc(5);
            width: rem-calc(20);
            &:hover,
            &:focus {
                outline: none;
                &:before {
                    opacity: $slick-opacity-on-hover;
                }
            }
            &:before {
                -moz-osx-font-smoothing: grayscale;
                -webkit-font-smoothing: antialiased;
                color: $slick-dot-color;
                content: $slick-dot-character;
                font-family: $slick-font-family;
                font-size: $slick-dot-size;
                height: rem-calc(20);
                left: 0;
                line-height: rem-calc(20);
                opacity: $slick-opacity-not-active;
                position: absolute;
                text-align: center;
                top: 0;
                width: rem-calc(20);
            }
        }
        &.slick-active button:before {
            color: $slick-dot-color-active;
            opacity: $slick-opacity-default;
        }
    }
}
