.text-success {
	color: $success-color;
}

.text-alert {
	color: $alert-color;
}

.text-muted {
	// color: $aluminum;
	color: $cascade;
}

.text-cinnabar {
	color: $cinnabar;
}

.text-cinnabar-dark {
	color: $cinnabar-dark;
}

.text-bahama-blue{
	color: $bahama-blue;
}

.text-okuma-blue {
	color: $okuma-blue;
}

.text-okuma-orange {
	color: $okuma-yellow;
}