
.icon-search:before { content: '\e800'; } /* '' */
.icon-uncheck-circle:before { content: '\e801'; } /* '' */
.icon-check-circle:before { content: '\e802'; } /* '' */
.icon-cancel-circle:before { content: '\e803'; } /* '' */
.icon-plus:before { content: '\e804'; } /* '' */
.icon-minus:before { content: '\e805'; } /* '' */
.icon-left-circle:before { content: '\e806'; } /* '' */
.icon-right-circle:before { content: '\e807'; } /* '' */
.icon-left:before { content: '\e808'; } /* '' */
.icon-right:before { content: '\e809'; } /* '' */
.icon-email:before { content: '\e80a'; } /* '' */
.icon-dot:before { content: '\e80b'; } /* '' */
.icon-phone:before { content: '\e80c'; } /* '' */
.icon-quote-right:before { content: '\e80d'; } /* '' */
.icon-quote-left:before { content: '\e80e'; } /* '' */
.icon-location:before { content: '\e80f'; } /* '' */
.icon-attention-circle:before { content: '\e811'; } /* '' */
.icon-tick:before { content: '\e812'; } /* '' */
.icon-cross:before { content: '\e813'; } /* '' */
.icon-cog:before { content: '\e814'; } /* '' */
.icon-spin:before { content: '\e815'; } /* '' */
.icon-lightbulb:before { content: '\e816'; } /* '' */
.icon-okuma:before { content: '\e817'; } /* '' */
.icon-okuma-bear:before { content: '\e818'; } /* '' */
.icon-whatsapp:before { content: '\e819'; } /* '' */
.icon-facebook:before { content: '\e81a'; } /* '' */
.icon-twitter:before { content: '\e81b'; } /* '' */