@charset "UTF-8";

@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";

$okuma-blue: #001755;
$okuma-yellow: #F6B027;

$bp_small_only: em(639);
$bp_medium_up: em(640);
$bp_large_up: em(1024);


*, *::before, *::after {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	@include background(linear-gradient(-45deg, #76C73D, #21B4BE) #21B4BE no-repeat fixed);
	color: #00171F;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
	height: 100%;
	line-height: 1.5;
	margin: 0;
	overflow-wrap: break-word;
	overflow: auto;
	padding: 0;
	width: 100%;
    word-break: break-word;
    word-wrap: break-word;
}


a {
	cursor: pointer;
	text-decoration: none;
	color: lighten(#00171F, 15%);
}

img {
	max-width: 100%;
	height: auto;
}

.link {
	color: darken($okuma-yellow, 15%);
}

.clearfix {
	@include clearfix;
}

.luckycarp {
	&, &-header, &-main, &-footer {
		overflow: hidden;
	}
}

#intro {
	text-align: center;
}

.luckycarp {
	max-width: rem(600);
	margin: rem(32) auto;
}

.luckycarp-header {
	background-color: $okuma-blue;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: rem(6) rem(6) 0 0;
	height: rem(200);
	position: relative;
}

.luckycarp-main {
	background-color: #FFFFFF;
	padding: rem(32) rem(64) rem(32) rem(64);
}

.luckycarp-footer {
	background-color: #E5E5E5;
	border-radius: 0 0 rem(6) rem(6);
	font-size: rem(12);
	padding: rem(32) rem(64);
}

.logo {
	text-align: center;
    margin: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.title {
	color: $okuma-blue;
	font-size: modular-scale(5, 1em, $major-third);
	font-weight: 800;
	letter-spacing: rem(-2.5);
	line-height: 1;
	text-align: center;
	text-transform: uppercase;
}

.banner-img {
	width: 100%;
	height: auto;
}

.title-yellow {
	display: block;

	color: $okuma-yellow;
}

.sub-title {
	font-size: modular-scale(1, 1em, $major-third);
	text-align: center;
}

.short-divider {
	width: rem(185);
	height: rem(2);
	background-color: #95A5A6;
	margin: rem(32) auto rem(32) auto;
}

.section-title {
	font-size: modular-scale(2, 1em, $major-third);
	color: $okuma-blue;
}

.cta-btn {
	background: $okuma-yellow;
	border: rem(1) solid lighten($okuma-yellow, 10%);
	border-left-color: darken($okuma-yellow, 10%);
	border-top-color: darken($okuma-yellow, 10%);
	border-radius: rem(3);
	color: #FFFFFF;
	display: inline-block;
	font-size: rem(20);
	font-weight: 700;
	height: rem(52);
	line-height: rem(48);
	padding: 0 rem(48) rem(2) rem(48);
	text-transform: uppercase;
	text-shadow: rem(2) 0 rem(6) darken($okuma-yellow, 20%)
}

.comp-question {

	font-family: $georgia;
	font-style: italic;
	font-size: rem(17);
	color: #34495E;

	&::after, &::before {
		font-weight: 700;
		font-size: rem(21);
		margin: 0 rem(4);
	}

	&::before {
		content: open-quote;
	}

	&::after {
		content: close-quote;
	}
}

.fb-link {
	position: relative;
	display: block;
	padding-left: rem(24);

	&::before {
		background-color: #B4B4B4;
		content: "";
		height: 70%;
		left: 0;
		position: absolute;
		top: 15%;
		width: rem(2);
	}
}

.sponsor-logo-container {
	@include clearfix;
	padding: rem(16) 0;
}

.sponsor-logo-wrapper {
	float: left;
	padding: 0 rem(16);
	text-align: center;
	width: 50%;

	&::last-of-type {
		float:right;
	}
}

.sponsor-logo {
	height: rem(40);
}

.tandc {
	font-size: rem(14);
	font-weight: 700;
}

@media screen and (max-width: $bp_small_only) {
	.luckycarp-main {
		background-color: #FFFFFF;
		padding: rem(16) rem(1.6 * 16) rem(1.5 * 16) rem(1.6 * 16);
	}

	.sponsor-logo-wrapper {
		padding: 0 rem(16);
	}
}