$small-max-width: 640; // 0 640px
$medium-max-width: 1024; // 641px, 1024px
$large-max-width: 1200;// 1025px, 1440px

$small-height: 400;
$medium-height: 400;
$large-height: 400;
$image-height: 400;
$hero-height: 714;

$okuma-blue: #001755;
$okuma-yellow: #F6B027;

$swamp: #00171F;
$prussian-blue: #003459;
$bahama-blue: #006494;
$deep-cerulean: #007EA7;
$aqua-haze: #E8F1F2;
$cinnabar: #E74C3C;
$cinnabar-dark: scale-color($cinnabar, $lightness: -20%);;
$river-bed: #404D5B;
$cascade: #95A5A6;
$pickled-bluewood: #34495E;
$nobel: #B4B4B4;

$white       : #FFFFFF;
$ghost       : #FAFAFA;
$snow        : #F9F9F9;
$vapor       : #F6F6F6;
$white-smoke : #F5F5F5;
$silver      : #EFEFEF;
$smoke       : #EEEEEE;
$gainsboro   : #DDDDDD;
$iron        : #CCCCCC;
$base        : #AAAAAA;
$aluminum    : #999999;
$jumbo       : #888888;
$monsoon     : #777777;
$steel       : #666666;
$charcoal    : #555555;
$tuatara     : #444444;
$oil         : #333333;
$jet         : #222222;
$black       : #000000;

@function rem-calc($value) {
  @return $value * 1px;
}

#sitefeatures-container {
    position: relative;
}

.hero {
    .site-feature-wrapper {
        padding-top: percentage($hero-height/((12/12) * 1920));
    }

    .site-feature {
        max-height: 714px;
    }
}

#sitefeature-container {
    position: relative;
    padding-top: 45px;

    .site-feature {
        max-height: 400px;
    }

    .col-lg-4 {
        .site-feature-wrapper {
            padding-top: percentage($large-height/((4/12) * $large-max-width));
        }
    }
    .col-lg-6 {
        .site-feature-wrapper {
            padding-top: percentage($large-height/((6/12) * $large-max-width));
        }
    }
    .col-lg-8 {
        .site-feature-wrapper {
            padding-top: percentage($large-height/((8/12) * $large-max-width));
        }
    }
    .col-lg-12 {
        .site-feature-wrapper {
            padding-top: percentage($large-height/((12/12) * $large-max-width));
        }
    }
}

.site-feature-wrapper {
    position: relative;
    width: 100%;
}

.site-feature {
    // background: $deep-cerulean;
    background: $prussian-blue;
    // cursor: pointer;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-align: left;
    // proportional scaling
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &.dark {
        .site-feature-title {
            color: $oil;
        }
    }

    .site-feature-link {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        font-size: 0;
        opacity: 0;
        text-indent: 200%;
        white-space: nowrap;
        z-index: 1000;
    }

    .site-feature-button {
        background: transparent;
        border: rem-calc(4) solid $vapor;
        color: $vapor;
        font-weight: 700;
        margin: 0;
        position: absolute;
        text-transform: uppercase;
        z-index: 1001;
    }

    .site-feature-title,
    .site-feature-body {
        color: $vapor;
        margin: 0;
        position: relative;
        text-align: left;
    }

    .site-feature-title {
        font-weight: 600;
        overflow: hidden;
        padding: 0 0 rem-calc(12) 0;
        text-transform: uppercase;

        &:after {
            background: $vapor;
            bottom: 0;
            content: '';
            height: rem-calc(3);
            left: 0;
            position: absolute;
            width: 100%;
        }
    }

    .site-feature-body {
        // opacity: 0;
        padding: rem-calc(12) 0;
    }

    .site-feature-bg {
        display: block;
        max-width: 100%;
        min-height: 100%;
        position: relative;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    figcaption {
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
    }    

    .site-feature-title {
        font-size: rem-calc(30);
    }

    .site-feature-body {
        font-size: rem-calc(18);
    }

    .site-feature-button {
        font-size: rem-calc(16);
        padding: rem-calc(16) rem-calc(32) rem-calc(17) rem-calc(32);
        bottom: rem-calc(32);
        right: rem-calc(32);
    }

   figcaption {
        padding: rem-calc(32);
    }

    .model-actions {
        position: absolute;
        display: block;
        left: 32px;
        bottom: 32px;
    }
}
