.sortable-table {

    position: relative;

    .sortable-row, .sortable-row-placeholder
    {
       // position: relative;
    }

    .sortable-row {

        // z-index: 2;
        background-color: #FFF;

        &:hover {
            background-color: #dde4e6;
            cursor: move;
        }

        &.is-dragging {
            background-color: #3498db;
            // display: table-row;
            opacity: 0.7;
            position: absolute;
            z-index: 2000;
            pointer-events: none;

            & * {
                pointer-events: none;
            }
        }
    }

    .sortable-row-placeholder {
        border: 2px solid #3498db;
    }
}