.sortable-grid {

    position: relative;

    .sortable-item, .sortable-item-placeholder
    {
        box-sizing: border-box;
        display: inline-block;
        float: left;
        position: relative;
    }

    .sortable-item {

        z-index: 1;

        &:hover {
            background-color: #dde4e6;
            cursor: move;
        }

        &.is-dragging {
            border: 2px solid #3498db;
            display: block;
            opacity: 0.7;
            pointer-events: none;
            position: absolute;
            z-index: 2000;
        }
    }

    .sortable-item-placeholder {
        border: 2px dotted #3498db;
        padding: 3px;
        z-index: 2;
    }

    .thumbnail {
        max-width: 330px;
        margin: 5px;

        .caption {
            max-width: 302px;

            .title {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                line-height: 1.4;
            }
        }
    }
}