.sortable-list {
    list-style: none;
// margin: 0 0 9px 0;

    ol {
        list-style: none;
    }

    .sortable-item {
    // background: #FFFFFF;
        border-left: 2px solid #BAC4C5;
        display: block;
        margin: 10px 5px;
        padding: 0 5px 0 18px;

        &.is-dragging {
            background: #ECF0F1;
            border-left: 4px solid #7BBCE8;
            position: absolute;
            opacity: 0.7;
            top:0;
            z-index: 2000;

            .sortable-item-wrapper {
                border: 2px solid #3498DB;
            }

            .sortable-item {
                background: #ECF0F1;
            }
        }
    }

    .sortable-item-placeholder {
        position: relative;
        margin: 0;
        padding: 0;
        border: none;
    }

    .sortable-item-wrapper {
        display: inline-block;
        border: 2px solid #95A5A6;
        border-radius: 3px;
        padding: 4px;

        &:hover {
            background-color: #dde4e6;
            cursor: move;
        }
        .title {
            padding: 0 32px 0 8px;
        }
    }
}

.sortable-tree {
    padding-left: 40px;

    .root {
        border-left: 2px solid #BAC4C5;
        display: block;
        margin: 10px 5px;
        padding: 0 5px 0 18px;

        > .sortable-item-wrapper {
            display: inline-block;
            border: 2px solid #95A5A6;
            border-radius: 3px;
            padding: 4px;

            .title {
                padding: 0 32px 0 8px;
                font-weight: bold;
            }
        }

    }
    .fixed-item {
        > .sortable-item-wrapper {
            &:hover {
                cursor: not-allowed;
            }
        }
    }
}


// ol.vertical
//   margin: 0 0 9px 0
//   min-height: 10px
//   li
//     display: block
//     margin: 5px
//     padding: 5px
//     border: 1px solid #CCC
//     color: $linkColor
//     background: $grayLighter
//   li.placeholder
//     position: relative
//     margin: 0
//     padding: 0
//     border: none
//     &:before
//       position: absolute
//       content: ""
//       width: 0
//       height: 0
//       margin-top: -5px
//       left: -5px
//       top: -4px
//       border: 5px solid transparent
//       border-left-color: $error
//       border-right: none
