/*
 * Base structure
 */
/* Move down content because we have a fixed navbar that is 50px tall */

html,
body {
    height: 100%;
    position: relative;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

#top-nav {
    margin-bottom: 0;
}

.navbar-brand {
    .logo {
        position: relative;
        top: -3.5px;
    }
}

#sidebar {
    background-color: #ECF0F1;
    border-right: 1px solid #DCE4EC;
    display: block;
    position: fixed;
    width: 250px;
    height: 100%;
    z-index: 2;
    overflow-y: auto;
    padding: 60px 0;
}

#content {
    padding: 60px 0 60px 250px;
    position: relative;
    z-index: 1;
}

.sidebar-menu {
    border-top: 1px solid #E1E1E8;

    .sidebar-header {
        padding: 16px;
    }

    .sidebar-admin {
        padding: 16px;
    }

    .link {
        border-bottom: 1px solid #DCE4EC;
        color: #2C3E50;
        display: block;
        font-size: 14px;
        padding: 12px 16px;
        width: 100%;

        &:hover, &.active {
            background-color: #BAC4C5;
            color: #FFF;
            text-decoration: none;
        }
    }
}

.selected-tag {
  display: inline-block;
  padding-bottom: 3px;
  vertical-align: middle;
}

.margin-top-16 {
    margin-top: 16px;
}

.margin-top-32 {
    margin-top: 32px;
}

.margin-top-48 {
    margin-top: 48px;
}

.margin-bottom-16 {
    margin-bottom: 16px;
}

.margin-bottom-32 {
    margin-bottom: 32px;
}

.margin-bottom-48 {
    margin-bottom: 48px;
}

.btn *, .fa, .glyphicon {
    pointer-events: none;
}

.fa-action {
    font-size: 16px !important;
    height: 0;
}

.thumbnail {
    /*min-width: 300px;*/

    border-color: #CCCCCC;
}

#dataTableBuilder .model-actions {
    min-width: calc(36px * 3);
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.inline-block {
    display: inline-block;
}

body.dragging, body.dragging * {
    cursor: move !important
}

.no-gutter [class*="col-"] {
    padding: 0;
}

.tiny-mce-body {
    padding: 0 40px;
}

@import "sortable-grid";
@import "sortable-list";
@import "sortable-table";
@import "site-feature";
