.valign-middle {
	display: table;

	> .columns {
		display: table-cell;
		vertical-align: middle;
		float: none;
	}

	// > .columns, > [class*="column"] + [class*="column"]:last-child {
	// 	float: none;
	// }
}