.animated-link {
    transition: color 0.25s cubic-bezier(0.7, 0, 0.3, 1);
    position: relative;
    z-index: 1;

    &.bg-block:after {
	    transition: opacity 0.25s cubic-bezier(0.7, 0, 0.3, 1), transform 0.25s cubic-bezier(0.7, 0, 0.3, 1);
	    background-color: $cinnabar-dark;
	    content: "";
	    display: block;
	    height: calc(100% + 0.25rem);
	    left: rem-calc(-12);
	    opacity: 0;
	    pointer-events: none;
	    position: absolute;
	    top: rem-calc(-2);
	    width: calc(100% + 1.5rem);
	    z-index: -1;
	}

    &:hover, &:focus, &:active, &.active {
        &:after {
            opacity: 1;
        }
    }

    &.bg-scale-anim {
        &:after {
            transform: skewX(-11deg) scale3d(0.7, 0.7, 1) ;
        }

        &:hover, &:focus, &:active, &.active {
            &:after {
                transform: skewX(-11deg) scale3d(1, 1, 1) ;
            }
        }
    }

    &.bg-skew-anim {
        &:after {
            transform: skewX(-11deg) skewY(-5deg) ;
        }

        &:hover, &:focus, &:active, &.active {
            &:after {
                transform: skewX(-11deg) skewY(0) ;
            }
        }
    }
}
