@keyframes shake {
  from, to {
    transform: translate3d(0, 0, 0) ;
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(rem-calc(-10), 0, 0) ;
  }

  20%, 40%, 60%, 80% {
    transform: translate3d(rem-calc(10), 0, 0) ;
  }
}

.shake {
  animation-name: shake;
}